@import './mixins';
@import './variables';


body{
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   font-family: 'Alphakind', sans-serif;
   background: linear-gradient(180deg, #2F95D2 0%, #40ACE1 100%);
   color:#fff;
}

.d-f{
   display: flex;
}

.d-g{
   display: grid;
}

.jc-sb{
   justify-content: space-between;
}

.jc-c{
   justify-content: center;
}

.fw-w{
   flex-wrap: wrap;
}

.fw-nw{
   flex-wrap: no-wrap;
}

.jc-e{
   justify-content: end;
}

.ai-c{
   align-items: center;
}

.fd-c{
   flex-direction:column;
}

.fw-w{
   flex-wrap: wrap;
}


.ta-c{
   text-align: center;
}

.ta-e{
   text-align: end;
}

.gtc-2{
   grid-template-columns: repeat(2,1fr);
}

.gtc-3{
   grid-template-columns: repeat(3,1fr);
}

.gtc-3-af{
   grid-template-columns: repeat(auto-fit,minmax(310px,1fr));
}

.gtc-4-af{
   grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.section{
   padding: 160px 0px 50px 0px;
}

.title{
   font-size: 70px;
   line-height: 85px;
   text-align: center;
   -webkit-text-stroke:4px black; 
}

.fishes{
   z-index: -1;
}

.text-border{
   -webkit-text-stroke: 2.2px black; 
}

.button{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 5px solid #000;
   @include adaptiv-value(border-radius, 14, 7, 0);
   background: #fff;
   color: #181818;
   font-weight: 600;
   @include adaptiv-value(height, 47, 35, 0);

   transition: transform 0.2s;
   transform: scale(100%);
   background-image: none !important;
   cursor: pointer;

   @include breakpoint(768px) {
      border: 4px solid #000;
    }

    &:hover {
      transform: $transformScale;
      background-image: none !important;

      @include breakpoint(768px) {
        transform: none;
      }
    }
}